@import url(https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400&display=swap);

@mixin sp {
  @media (max-width: 800px) {
    @content;
  }
}

html,
body {
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Noto Sans JP", Arial, Verdana, 游ゴシック, YuGothic,
    "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", メイリオ, Meiryo,
    sans-serif;
  -webkit-text-size-adjust: 100%;
  overflow-x: hidden;
  color: #444;
  background: #fff;
  line-height: 2.4;
  @include sp {
    font-size: 0.9em;
  }
}

a {
  text-decoration: none;
}

header {
  line-height: normal;
  letter-spacing: 2px;
}

@media screen and (min-width: 768px) {
  .dropdown:hover > ul {
    padding: 16px;
  }
}

footer {
  clear: both;
  margin-top: 64px;
  padding: 48px 0;
  text-align: center;
  background-color: #f5f5f7;
}

br.responsive {
  display: none;

  @include sp {
    display: inline;
  }
}

img {
  max-width: 100%;
  height: auto;
}

section {
  clear: both;
  padding-top: 80px;
  @include sp {
    padding-top: 24px;
  }

  h2 {
    width: 100%;
    margin: 0 auto 40px;
    text-align: center;
    letter-spacing: 2px;
    @include sp {
      margin: 0 auto;
    }
  }
}

.page {
  width: 100%;
  max-width: 800px;
  margin: 160px auto 0;
  box-sizing: border-box;
  @include sp {
    margin: 60px auto;
    padding: 1em;
  }

  p {
    margin: 24px 0;
  }

  * {
    white-space: pre-wrap;
  }
}

.newsList {
  padding-top: 20px;

  & > div > a {
    white-space: nowrap;
    overflow: hidden;
    color: #444;
    display: grid;
    grid-template-columns: 100px 120px 1fr;
    padding: 12px;
    border-bottom: solid 1px #666;
    @include sp {
      grid-template-columns: 100px 1fr;
    }

    &:hover {
      background: #f7f7f7;
      text-decoration: none;
    }
  }

  span {
    align-self: baseline;

    &.title {
      white-space: normal;
      @include sp {
        grid-column-start: 1;
        grid-column-end: 3;
      }
    }
  }

  .category {
    display: inline-block;
    background: #444;
    color: #fff;
    border-radius: 10px;
    text-align: center;
    width: 90px;
    font-size: 0.6em;
  }

  .title {
    white-space: nowrap;
  }

  .readMore {
    text-align: right;
    padding-top: 12px;
  }

  img {
    margin: 0 8px;
  }
}

/* company COMPANY
------------------------------------------------------------*/

#company {
  table {
    margin: auto;
    width: 100%;
    max-width: 640px;
    line-height: 3.6;
    border-collapse: collapse;

    tr {
      border-bottom: solid 1px #ccc;
    }

    td {
      padding: 0 24px;

      @include sp {
        width: auto;
        padding: 0 12px;
        display: block;
      }

      &:first-child {
        width: 40%;
        @include sp {
          font-size: 0.9em;
          font-weight: bold;
          padding-top: 16px;
        }
      }
    }
  }
}

#sns {
  padding: 20px 0;
  text-align: center;

  img {
    padding: 0 4px;
    width: 20px;
    height: 20px;
  }
}

.shoplink {
  & > a {
    & > img {
      margin-right: 16px;
      width: 20%;
    }
  }
}

.messageHeading {
  @include sp {
    font-size: 22px;
    margin: 36px auto 0;
  }
}

.job {
  background: whitesmoke;
  padding: 8px 16px;
}
