.swiper-pagination-bullet {
  position: relative !important;
  background: transparent !important;
  width: 8px !important;
  height: 8px !important;
  display: inline-block !important;
  border-radius: 0 !important;
  opacity: 0.4 !important;
}

.swiper-pagination-bullet::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 4px;
  height: 20px;
  background: white;
  transform: skew(150deg);
}

.swiper-pagination-bullet-active {
  opacity: 1 !important;
}
