.circleMeterWrapper {
  text-align: center;
  margin: 4px auto;
  position: relative;

  p:nth-of-type(1) {
    position: absolute;
    top: 12px;
    left: 0;
    right: 0;
    margin: 0;
    font-weight: bold;

    span {
      &:nth-of-type(1) {
        font-size: 72px;
      }
      &:nth-of-type(2) {
        font-size: 28px;
      }
    }
  }
  p:nth-of-type(2) {
    position: absolute;
    top: 116px;
    left: 0;
    right: 0;
    margin: 0;
    font-size: 24px;
    font-style: italic;
  }
}

.focusVertical {
  width: 1px;
  height: 12px;
  margin: auto;
  background: white;
}
.focusHorizontal {
  width: 12px;
  height: 1px;
  background: white;
}

.meterWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}
.circleMeter {
  position: relative;
  width: 200px;
  height: 200px;
}

.meter {
  position: absolute;
  top: 96px;
  right: 0;
  left: 0;
  margin: auto;
  border-radius: 1.5px;
  width: 3px;
  height: 10px;
  background: white;
  opacity: 0.4;
  backface-visibility: hidden;
  animation: off 0.1s forwards;
}

@keyframes off {
  0% {
    opacity: 0.4;
  }
  100% {
    opacity: 1;
  }
}
