@mixin sp {
  @media (max-width: 800px) {
    @content;
  }
}

.back {
  background-image: url("/img/accelarator/back.jpg");
  background-size: contain;
  padding: 100px 0;
  margin-bottom: -100px;
  @include sp {
    padding: 0;
  }
}

.sheet {
  margin: auto;
  padding: 0 100px;
  max-width: 900px;
  background: rgba(255, 255, 255, 0.9);
  @include sp {
    padding: 100px 16px;
  }
}

.title {
  text-align: center;
  font-size: 1.2em;
}

.about {
  h2 {
    line-height: 1.6;
    @include sp {
      font-size: 20px;
      margin-bottom: 40px;
    }

    span {
      font-size: 0.6em;
    }
  }
}

.purpose {
  & > div {
    display: flex;
    justify-content: space-around;
    @include sp {
      flex-direction: column;
    }

    & > div {
      padding: 8px;
      flex: 1;

      p {
        font-size: 0.9em;
      }
    }
  }
}

.target {
  h2 {
    @include sp {
      font-size: 1em;
      margin-bottom: 1em;
    }
  }

  & > div {
    padding: 8px 32px;
    background-position: center;
    background-size: cover;
    @include sp {
      padding: 8px 16px;
    }

    span {
      padding: 0.2em 1em;
      font-size: 0.9em;
      background: white;
      @include sp {
        padding: 0;
      }
    }
  }
}

.merit {
  & > div {
    display: flex;
    justify-content: space-around;
    @include sp {
      flex-direction: column;
    }

    & > div {
      padding: 8px;
      flex: 1;
      text-align: center;

      img {
        width: 80%;
      }

      p {
        text-align: left;
        font-size: 0.9em;
      }
    }
  }
}

.contact {
  text-align: center;
  padding-bottom: 80px;

  a {
    display: inline-block;
    background: rgb(0, 160, 195);
    text-align: center;
    padding: 16px 40px;
    border-radius: 20px;
    color: white;
    font-weight: bold;
    font-size: 1.2em;
    @include sp {
      padding: 12px 20px;
      font-size: 1.1em;
    }
  }
}
