$nxm-color: #005b97;

@mixin sp {
  @media (max-width: 800px) {
    @content;
  }
}

@mixin engTitleFont {
  font-family: "Oswald", sans-serif;
}

@mixin fvNumberFont {
  font-family: "Lato", sans-serif;
}

@mixin normalFont {
  font-family: "Noto Sans JP", sans-serif;
}

@mixin stripe($deg, $color: white) {
  background: linear-gradient(
    $deg,
    transparent 14px,
    $color 14px,
    $color 17px,
    transparent 17px,
    transparent 20px,
    $color 20px,
    $color 23px,
    transparent 23px,
    transparent 26px,
    $color 26px,
    $color 29px,
    transparent 29px,
    transparent 32px,
    $color 32px,
    $color 35px,
    transparent 35px,
    transparent 38px,
    $color 38px,
    $color 41px,
    transparent 41px,
    transparent 44px,
    $color 44px,
    $color 47px,
    transparent 47px,
    transparent 50px,
    $color 50px,
    $color 53px,
    transparent 53px,
    transparent 56px,
    $color 56px
  );
}

.container {
  overflow: auto;
  scroll-snap-type: y mandatory;
  height: 100vh;
  box-sizing: border-box;
  padding-top: 58px;

  section {
    scroll-snap-align: start;
    max-height: calc(100vh - 58px);
    overflow: scroll;
  }
}
