$nxm-color: rgb(0, 155, 191);

@mixin sp {
  @media (max-width: 800px) {
    @content;
  }
}

.box {
  background: $nxm-color;
  opacity: 0.6;
  width: 50%;
  &:nth-child(2n) {
    margin-left: auto;
  }
}

.modal {
  position: fixed;
  width: calc(100% - 160px);
  top: 120px;
  left: 40px;
  padding: 40px;
  z-index: 1000;
  background: red;
}
