@import "../../pages/data.module.scss";

@keyframes shine {
  100% {
    opacity: 1;
    top: 100%;
    left: 100%;
  }
}

.renderAnimation {
  position: relative;
  overflow: hidden;

  &:after {
    animation: shine 1s ease-in-out;
    content: "";
    position: absolute;
    top: -100%;
    left: -100%;
    width: 100%;
    height: 100%;
    opacity: 0;
    transform: rotate(45deg);
    background: linear-gradient(
      to right,
      rgba(255, 255, 255, 0.1) 0%,
      rgba(255, 255, 255, 0.1) 80%,
      rgba(255, 255, 255, 0.5) 90%,
      rgba(255, 255, 255, 0) 100%
    );
  }
}

.box {
  position: relative;
  background: linear-gradient(
    225deg,
    transparent 10px,
    rgba($nxm-color, 0.6) 10px
  );
  width: 54%;
  margin-top: 48px;

  &::after {
    content: "Read More →";
    color: $nxm-color;
    font-size: 10px;
    line-height: 16px;
    text-align: right;
    position: absolute;
    padding: 0 8px;
    top: 100%;
    right: 0;
    width: 80%;
    height: 18px;
    @include stripe(45deg);
  }

  .boxInner {
    background: linear-gradient(
      225deg,
      transparent 10px,
      white 10px,
      white 11px,
      transparent 11px
    );
    position: relative;

    &::before,
    &::after {
      content: "";
      position: absolute;
      box-sizing: border-box;
    }
    &::before {
      width: calc(100% - 14px);
      height: 100%;
      top: 0;
      left: 0;
      border-top: solid 1px white;
    }
    &::after {
      width: 100%;
      height: calc(100% - 14px);
      bottom: 0;
      left: 0;
      border-right: solid 1px white;
      border-bottom: solid 1px white;
    }
  }
  &:nth-child(2n) {
    background: linear-gradient(
      135deg,
      transparent 10px,
      rgba($nxm-color, 0.6) 10px
    );
    margin-left: auto;

    &::after {
      content: "← Read More";
      text-align: left;
      padding: 0 8px;
      top: 100%;
      right: auto;
      @include stripe(315deg);
    }

    .boxInner {
      background: linear-gradient(
        135deg,
        transparent 10px,
        white 10px,
        white 11px,
        transparent 11px
      );
      &::before {
        top: 0;
        left: auto;
        right: 0;
        border-top: solid 1px white;
      }
      &::after {
        left: 0;
        border-right: none;
        border-left: solid 1px white;
      }
    }
  }
}

.boxInner {
  text-align: center;
  padding: 16px;

  h3 {
    margin: 0;
    font-size: 33px;
    line-height: 1;
  }

  .rubi {
    margin: 0;
    font-size: 16px;
  }

  .text {
    font-size: 14px;
    line-height: 1.2;
    text-align: left;
  }
}

.modal {
  position: fixed;
  width: 300px;
  top: 120px;
  left: 50%;
  transform: translateX(-50%);
  padding: 20px;
  box-sizing: border-box;
  z-index: 1000;
  background: $nxm-color;

  .close {
    position: absolute;
    bottom: 100%;
    right: 0;
    width: 60%;
    font-size: 10px;
    line-height: 16px;
    text-align: right;
    padding: 0 8px;
    height: 18px;
    @include stripe(135deg, $nxm-color);
  }

  .modalHeader {
    display: flex;

    div:nth-child(2) {
      border-left: solid 2px white;
      margin-left: 12px;
      padding-left: 12px;
    }

    h3 {
      margin: 0;
      font-size: 43px;
      line-height: 1;
    }

    h3 + p {
      margin: 0;
    }
  }

  .modalTitle {
    background: rgba(255, 255, 255, 0.4);
    text-align: center;
    font-size: 18px;
    margin-top: 12px;
  }

  .modalLess {
    width: 200px;
    height: 200px;
    text-align: center;
    border: solid 2px white;
    border-radius: 50%;
    margin: 40px auto;
  }
}
