@import "../../pages/data.module.scss";

.card {
  position: relative;
  margin: 24px;
  padding: 32px;
  overflow: hidden;

  background: linear-gradient(
      45deg,
      transparent 20px,
      white 20px,
      white 22px,
      transparent 22px
    ),
    linear-gradient(
      135deg,
      transparent 20px,
      white 20px,
      white 22px,
      transparent 22px
    ),
    linear-gradient(
      225deg,
      transparent 20px,
      white 20px,
      white 22px,
      transparent 22px
    ),
    linear-gradient(
      315deg,
      transparent 20px,
      white 20px,
      white 22px,
      transparent 22px
    );

  &::before,
  &::after {
    content: "";
    position: absolute;
    box-sizing: border-box;
  }
  &::before {
    width: calc(100% - 56px);
    height: 100%;
    top: 0;
    left: 28px;
    border-top: solid 2px white;
    border-bottom: solid 2px white;
  }
  &::after {
    width: 100%;
    height: calc(100% - 56px);
    top: 28px;
    left: 0;
    border-right: solid 2px white;
    border-left: solid 2px white;
  }
  h3 {
    text-align: center;
    background: rgba(255, 255, 255, 0.2);
  }
}

.sns {
  display: flex;
  justify-content: center;

  a {
    display: block;
    background: white;
    width: 40px;
    height: 40px;
    margin: 8px 16px;
  }
}

.catch {
  display: inline-block;
  text-align: left;
  font-size: 34px;
  line-height: 1.2;
}
