@import "../../pages/data.module.scss";

.cardWrapper {
  width: 360px;
  margin: auto;
  position: relative;

  svg:nth-child(1) {
    position: absolute;
    top: -8px;
    left: 36px;
  }
  svg:nth-child(2) {
    position: absolute;
    bottom: -8px;
    right: 36px;
  }
}

.card {
  position: relative;
  margin: 48px 24px;
  padding: 0 16px;
  overflow: hidden;

  background: linear-gradient(
      45deg,
      transparent 10px,
      white 10px,
      white 11px,
      transparent 11px
    ),
    linear-gradient(
      225deg,
      transparent 10px,
      white 10px,
      white 11px,
      transparent 11px
    );

  &::before,
  &::after {
    content: "";
    position: absolute;
    box-sizing: border-box;
    width: 100%;
    height: calc(100% - 14px);
  }
  &::before {
    top: 0;
    left: 0;
    border-left: solid 1px white;
  }
  &::after {
    bottom: 0;
    right: 0;
    border-right: solid 1px white;
  }

  div {
    padding: 16px 0;

    &::before,
    &::after {
      content: "";
      position: absolute;
      box-sizing: border-box;
      width: calc(100% - 52px);
      height: 100%;
    }
    &::before {
      top: 0;
      right: 14px;
      border-top: solid 1px white;
    }
    &::after {
      bottom: 0;
      left: 14px;
      border-bottom: solid 1px white;
    }
    h3 {
      text-align: center;
      background: rgba(255, 255, 255, 0.2);
      line-height: 1;
      padding: 8px 0;
    }
    p {
      font-size: 16px;
      line-height: 1.2;
      padding: 0 32px;
      margin: 12px 0;
    }
  }
}

.prev,
.next {
  position: relative;
  width: 300px;
  margin: 40px auto;
  font-size: 18px;
  text-align: center;

  &::before,
  &::after {
    content: "";
    position: absolute;
    box-sizing: border-box;
  }

  div {
    display: block;
    padding: 4px 40px;
    box-sizing: border-box;
    position: relative;
    width: 100%;

    &::after {
      content: "";
      position: absolute;
      bottom: 100%;
      left: 0;
      width: 45%;
      height: 10px;
      @include stripe(225deg);
    }
  }
}

.prev {
  background: linear-gradient(
    45deg,
    transparent 10px,
    white 10px,
    white 11px,
    transparent 11px
  );
  &::before {
    width: calc(100% - 14px);
    height: 100%;
    top: 0;
    left: auto;
    right: 0;
    border-bottom: solid 1px white;
    border-right: solid 1px white;
  }
  &::after {
    width: 100%;
    height: calc(100% - 14px);
    bottom: auto;
    top: 0;
    left: 0;
    border-left: solid 1px white;
    border-top: solid 1px white;
  }
  div {
    &::after {
      content: "";
      bottom: 100%;
      left: auto;
      right: 0;
      @include stripe(135deg);
    }
  }
}

.next {
  background: linear-gradient(
    225deg,
    transparent 10px,
    white 10px,
    white 11px,
    transparent 11px
  );
  &::before {
    width: calc(100% - 14px);
    height: 100%;
    top: 0;
    left: 0;
    border-top: solid 1px white;
    border-left: solid 1px white;
  }
  &::after {
    width: 100%;
    height: calc(100% - 14px);
    bottom: 0;
    left: 0;
    border-right: solid 1px white;
    border-bottom: solid 1px white;
  }
  div {
    width: 100%;

    &::after {
      content: "";
      bottom: 100%;
      left: 0;
      @include stripe(225deg);
    }
  }
}

.sns {
  display: flex;
  justify-content: center;
  align-items: center;

  a {
    display: block;
    margin: 10px;
  }
}

.catch {
  display: inline-block;
  text-align: left;
  font-size: 34px;
  line-height: 1.2;
}
