@import "../../styles/data.module.scss";

.prev,
.next {
  position: relative;
  width: 300px;
  margin: 40px auto;
  font-size: 18px;
  text-align: center;

  &::before,
  &::after {
    content: "";
    position: absolute;
    box-sizing: border-box;
  }

  div {
    display: block;
    padding: 4px 40px;
    box-sizing: border-box;
    position: relative;
    width: 100%;

    &::after {
      content: "";
      position: absolute;
      bottom: 100%;
      left: 0;
      width: 45%;
      height: 10px;
      @include stripe(225deg);
    }
  }
}

.prev {
  background: linear-gradient(
    45deg,
    transparent 10px,
    white 10px,
    white 11px,
    transparent 11px
  );
  &::before {
    width: calc(100% - 14px);
    height: 100%;
    top: 0;
    left: auto;
    right: 0;
    border-bottom: solid 1px white;
    border-right: solid 1px white;
  }
  &::after {
    width: 100%;
    height: calc(100% - 14px);
    bottom: auto;
    top: 0;
    left: 0;
    border-left: solid 1px white;
    border-top: solid 1px white;
  }
  div {
    &::after {
      content: "";
      bottom: 100%;
      left: auto;
      right: 0;
      @include stripe(135deg);
    }
  }
}

.next {
  background: linear-gradient(
    225deg,
    transparent 10px,
    white 10px,
    white 11px,
    transparent 11px
  );
  &::before {
    width: calc(100% - 14px);
    height: 100%;
    top: 0;
    left: 0;
    border-top: solid 1px white;
    border-left: solid 1px white;
  }
  &::after {
    width: 100%;
    height: calc(100% - 14px);
    bottom: 0;
    left: 0;
    border-right: solid 1px white;
    border-bottom: solid 1px white;
  }
  div {
    width: 100%;

    &::after {
      content: "";
      bottom: 100%;
      left: 0;
      @include stripe(225deg);
    }
  }
}

.sns {
  display: flex;
  justify-content: center;
  align-items: center;

  a {
    display: block;
    margin: 10px;
  }
}

.catch {
  display: inline-block;
  text-align: left;
  font-size: 34px;
  font-weight: bold;
  line-height: 1.2;
}
