$nxm-color: rgb(0, 155, 191);

@mixin sp {
  @media (max-width: 800px) {
    @content;
  }
}

.fv {
  padding: 120px 0;
}

.counters {
  display: flex;
  flex-wrap: wrap;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    z-index: 1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    box-shadow: 0 120px 80px -30px rgba(0, 0, 0, 0.9) inset;
  }
}

.counter {
  width: 25%;
  font-size: 40px;
  line-height: 1;
  color: $nxm-color;
}
