@import "../../pages/data.module.scss";

.fv {
  padding: 0;
}

.counters {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  margin-bottom: -72px;
  transform: translateY(-72px);

  &::before {
    content: "";
    position: absolute;
    z-index: 1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
}

.counter {
  width: 25%;
  font-size: 42px;
  line-height: 1;
  color: $nxm-color;
}
