@import "../../pages/data.module.scss";

.box {
  text-align: center;
  position: relative;
  margin: 38px;
  padding: 32px 38px;

  h3 {
    font-size: 24px;
    margin: 0;
  }

  p {
    font-size: 14px;
  }
}
.bd {
  background: white;
  position: absolute;
}
.bd:nth-of-type(1) {
  width: 0%;
  height: 2px;
  top: 0;
  left: 0;
  animation: top 6s infinite;
}
.bd:nth-of-type(2) {
  width: 0%;
  height: 2px;
  bottom: 0;
  right: 0;
  animation: bottom 6s infinite;
}
.bd:nth-of-type(3) {
  height: 0%;
  width: 2px;
  right: 0;
  top: 0;
  animation: right 6s infinite;
}
.bd:nth-of-type(4) {
  height: 0%;
  width: 2px;
  left: 0;
  bottom: 0;
  animation: left 6s infinite;
}

@keyframes bottom {
  0% {
    width: 0%;
  }
  5% {
    width: 100%;
  }
  95% {
    width: 100%;
  }
  100% {
    width: 0%;
  }
}
@keyframes left {
  0% {
    height: 0%;
  }
  5% {
    height: 0%;
  }
  10% {
    height: 100%;
  }
  90% {
    height: 100%;
  }
  95% {
    height: 0%;
  }
  100% {
    height: 0%;
  }
}
@keyframes top {
  0% {
    width: 0%;
  }
  10% {
    width: 0%;
  }
  15% {
    width: 100%;
  }
  85% {
    width: 100%;
  }
  90% {
    width: 0%;
  }
  100% {
    width: 0%;
  }
}
@keyframes right {
  0% {
    height: 0%;
  }
  15% {
    height: 0%;
  }
  20% {
    height: 100%;
  }
  80% {
    height: 100%;
  }
  85% {
    height: 0%;
  }
  100% {
    height: 0%;
  }
}

.arrow {
  text-align: center;
}
