.layout {
  display: flex;
  margin: auto;
  justify-content: center;
  margin-top: 80px;
  aside {
    white-space: nowrap;
    padding: 48px 64px 0 0;
    ol {
      position: sticky;
      top: 120px;
    }
  }
  main {
    max-width: 800px;
  }
  section {
    padding-top: 60px;
  }
}

.flex {
  display: flex;
}
